
div.libreria{
  position:absolute;
  display:flex;
  margin-left: 20px;
  margin-top:20px;
}
.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
}

.casilla:hover img:first-child {
  display: none;
}

.columnG {
  display: flex;
  flex-direction: column;
  width: 246px;
}

.columnH {
  display: flex;
  flex-direction: column;
  width: 159px;
}

.columnI {
  display: flex;
  flex-direction: column;
  width: 134px;
}

.columnJ {
  display: flex;
  flex-direction: column;
  width: 121px;
}

.columnK {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnL {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnM {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnLast {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-left: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.card:hover {
  background-color: rgb(180, 180, 180);
}

.tituloLibro{
  color: white;
  padding: 0px;
  font-size: 20px;
}

p{
  color: rgb(27, 27, 27);
  margin: 0px;
}