
div.libreria{
  position:absolute;
  display:flex;
  margin-left: 20px;
  margin-top:20px;
}
.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
}

.casilla:hover img:first-child {
  display: none;
}



.columnG {
  display: flex;
  flex-direction: column;
  width: 151px;
}

.columnH {
  display: flex;
  flex-direction: column;
  width: 73px;
}

.columnI {
  display: flex;
  flex-direction: column;
  width: 77px;
}

.columnJ {
  display: flex;
  flex-direction: column;
  width: 97px;
}

.columnK {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnL {
  display: flex;
  flex-direction: column;
  width: 118px;
}

.columnM {
  display: flex;
  flex-direction: column;
  width: 224px;
}

.columnLast {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width:800px;
}

.gridBib {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 20px;
}

.cardBib {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.cardBib:hover {
  background-color: rgb(180, 180, 180);
}

.tituloLibroBib {
  color: white;
  padding: 0px;
  font-size: 20px;
}

.imagenLibroBib{
  width:100%;
  margin-bottom:10px;
  border-radius: 5px;
}

p{
  color: rgb(27, 27, 27);
  margin: 0px;
}