
div.libreria2 {
  display:flex;
  margin-left: 20px;
  margin-top:20px;
}
.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
  cursor: pointer;
}

.casilla:hover img:first-child {
  display: none;
}



.columnG {
  display: flex;
  flex-direction: column;
  width: 151px;
}

.columnH {
  display: flex;
  flex-direction: column;
  width: 73px;
}

.columnI {
  display: flex;
  flex-direction: column;
  width: 77px;
}

.columnJ {
  display: flex;
  flex-direction: column;
  width: 97px;
}

.columnK {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.columnL {
  display: flex;
  flex-direction: column;
  width: 118px;
}

.columnM {
  display: flex;
  flex-direction: column;
  width: 224px;
}

.columnLast {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width:800px;
}

.gridBib2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
  padding: 10px;
}

.cardBib {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.cardBib:hover {
  background-color: rgb(180, 180, 180);
}

.tituloLibroBib {
  color: white;
  padding: 0px;
  font-size: 20px;
}

.autorLibroBib {
  color: rgb(87, 87, 87);
  padding: 0px;
  font-size: 17px;
}

.generoLibroBib {
  color: rgb(87, 87, 87);
  padding: 0px;
  font-size: 15px;
}

.textoLibroBib {
  color: rgb(87, 87, 87);
  padding: 0px;
  font-size: 13px;
}

.textoClosed{
  display:none;
}

.eliminarLibroBib{
  background-color: rgb(124, 124, 124);
  border-radius: 12px;
  color: white;
  font-size: 15px;
  border:none;
  padding:5px;
  margin-top: 7px;
}

.imagenLibroBib{
  width:100%;
  margin-bottom:10px;
  border-radius: 5px;
}

.imagen{
  width: 100%;
}