div.libreria1 {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}

.containerBib1{
  width: 100%;
}

.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
  cursor: pointer;
}

.casilla:hover img:first-child {
  display: none;
}

.imagen{
  width: 100%;
}

.columnA {
  display: flex;
  flex-direction: column;
  width: 209.1px;
}

.columnB {
  display: flex;
  flex-direction: column;
  width: 135.15px;
}

.columnC {
  display: flex;
  flex-direction: column;
  width: 113.9px;
}

.columnD {
  display: flex;
  flex-direction: column;
  width: 102.85px;
}

.columnE {
  display: flex;
  flex-direction: column;
  width: 87.55px;
}

.columnF {
  display: flex;
  flex-direction: column;
  width: 87.55px;
}

.columnLast {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 100%;
}

.tituloCasilla{
  margin-top: 20px;
  color: #896FA3;
  justify-content: center;
  display: flex;
}

.gridBib1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 15px;
  padding: 10px;
}

.cardBib {
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.cardBib:hover {
  background: linear-gradient(180deg, #F0D6AE 50%,#A38B67 100%);
  transform: scale3d(1.05, 1.05, 1);
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tituloLibroBib {
  color: #A38B67;
  padding: 0px;
  font-size: 20px;
}

.autorLibroBib {
  color: #d6f3df;
  padding: 0px;
  font-size: 17px;
}

.generoLibroBib {
  color: #d6f3df;
  padding: 0px;
  font-size: 15px;
}

.textoLibroBib {
  color: #d6f3df;
  padding: 0px;
  font-size: 13px;
}

.textoClosed{
  display:none;
}

.eliminarLibroBib{
  background-color: #896FA3;
  border-radius: 12px;
  color: #d6f3df;
  font-size: 15px;
  border:none;
  padding:5px;
  margin-top: 7px;
}

.eliminarLibroBib:hover{
  transform: scale3d(1.05, 1.05, 1);
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imagenLibroBib{
  width:100%;
  margin-bottom:10px;
  border-radius: 5px;
}

.biblioPeque {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.biblio img:first-child {
  display: flex;
}

.biblio img:last-child {
  display: none;
}

.biblio:hover img:first-child {
  display: none;
}

.biblio:hover img:last-child {
  display: flex;
}