div.libreria {
  position: absolute;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
}

.casilla:hover img:first-child {
  display: none;
}

.columnA {
  display: flex;
  flex-direction: column;
  width: 246px;
}

.columnB {
  display: flex;
  flex-direction: column;
  width: 159px;
}

.columnC {
  display: flex;
  flex-direction: column;
  width: 134px;
}

.columnD {
  display: flex;
  flex-direction: column;
  width: 121px;
}

.columnE {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnF {
  display: flex;
  flex-direction: column;
  width: 103px;
}

.columnLast {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width:800px;
}

.gridBib {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 20px;
}

.cardBib {
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  list-style: none;
}

.cardBib:hover {
  background-color: rgb(180, 180, 180);
}

.tituloLibroBib {
  color: white;
  padding: 0px;
  font-size: 20px;
}

.imagenLibroBib{
  width:100%;
  margin-bottom:10px;
  border-radius: 5px;
}

p {
  color: rgb(27, 27, 27);
  margin: 0px;
}

.biblioPeque {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.biblio img:first-child {
  display: flex;
}

.biblio img:last-child {
  display: none;
}

.biblio:hover img:first-child {
  display: none;
}

.biblio:hover img:last-child {
  display: flex;
}