.container {
    position: absolute;
    display: flex;
    width: 100%;
  }
  
  .biblio {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .biblio img:first-child {
    display:flex;
  }

  .biblio img:last-child {
    display:none;
  }
  .biblio:hover img:first-child {
    display:none;
  }
  
  .biblio:hover img:last-child {
    display:flex;
  }
