.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
    padding: 10px;
}

.card {
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    list-style: none;
}

.card:hover {
    background-color: rgb(180, 180, 180);
}

.imagenLibro{

}

.tituloLibro{
    color: white;
    padding: 0px;
    font-size: 20px;
}

p{
    color: rgb(27, 27, 27);
    margin: 0px;
}

input.input2 {
    margin: 0px;
    border: none;
    border-radius: 5px;
    background-color:rgb(203, 203, 203);
    font-size: 30px;
}

.formulario {
    display:flex;
    align-items: center;
    margin: 30px;
}

form {
    display:flex;
    margin-right: 10px;
}

.buscarButton{
    font-size: 30px;
}