.grid {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 15px;
    padding: 10px;
}

.card {
    background-color: rgb(203, 203, 203);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    list-style: none;
}

.card:hover {
    background-color: rgb(180, 180, 180);
}

.tituloLibro {
    color: white;
    padding: 0px;
    font-size: 20px;
}

.autorLibro {
    color: rgb(87, 87, 87);
    padding: 0px;
    font-size: 17px;
}

.generoLibro {
    color: rgb(87, 87, 87);
    padding: 0px;
    font-size: 15px;
}

.textoLibro {
    color: rgb(87, 87, 87);
    padding: 0px;
    font-size: 13px;
}

.textoClosed {
    display: none;
}

.eliminarLibro {
    background-color: rgb(124, 124, 124);
    border-radius: 12px;
    color: white;
    font-size: 15px;
    border: none;
    padding: 5px;
    margin-top: 7px;
    margin-right: 30px;
    margin-left: 30px;
}

.imagenLibro {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

input.input2 {
    margin: 0px;
    border: none;
    border-radius: 5px;
    background-color: rgb(203, 203, 203);
    font-size: 30px;
}

.formulario {
    display: flex;
    align-items: center;
    margin: 30px;
}

form {
    display: flex;
    margin-right: 10px;
}

.buscarButton {
    font-size: 30px;
}