.containerbib {
    display: flex;
  }

  .biblio1 {
    display: flex;
    flex-direction: column;
  }

  .biblio2 {
    display: flex;
    flex-direction: column;
  }
    
  .biblio img:first-child {
    display:flex;
  }

  .biblio img:last-child {
    display:none;
  }
  .biblio:hover img:first-child {
    display:none;
  }
  
  .biblio:hover img:last-child {
    display:flex;
  }
