
input {
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
}

.formularioPost {
    align-items: center;
    margin: 30px;
}

.nuevoLibro{
    margin-left: 560px;
    margin-bottom: 30px;
    background-color: rgb(124, 124, 124);
    border-radius: 12px;
    color: white;
    font-size: 30px;
    border:none;
    padding-left:8px;
    padding-right:8px;
}



