.container {
  position: absolute;
  display: flex;
  width: 100%;
}

.columnA {
  display: flex;
  flex-direction: column;
  width: 246px;
}

.columnB {
  display: flex;
  flex-direction: column;
  width: 159px;
}

.columnC {
  display: flex;
  flex-direction: column;
  width: 134px;
}

.columnD{
  display: flex;
  flex-direction: column;
  width: 121px;
}

.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}