body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Condensed', sans-serif !important;

}

h1 {
  color: white;
  text-decoration: none;
  margin: 0px;
}